PRACTICA 2/WindowsFormsApp1/WindowsFormsApp1/Web References/boom/Sensor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://io.java/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws.apache.org/axis2" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws.apache.org/axis2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax22="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
      <xs:import namespace="http://io.java/xsd" />
      <xs:element name="SensorIOException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IOException" nillable="true" type="ax22:IOException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SensorUnsupportedEncodingException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="UnsupportedEncodingException" nillable="true" type="ax22:UnsupportedEncodingException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="luz">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="usu" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="luzResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setvolumen">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sonda" type="xs:int" />
            <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="usu" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="c" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setvolumenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ultimaFecha">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="usu" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ultimaFechaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setled">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sonda" type="xs:int" />
            <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="usu" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="c" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setledResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="iniciar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="contrasenya" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="iniciarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="fecha">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="fechaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="volumen">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="usu" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="volumenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setledi">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sonda" type="xs:int" />
            <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setlediResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
      <xs:complexType name="IOException">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="UnsupportedEncodingException">
        <xs:complexContent mixed="false">
          <xs:extension base="ax21:IOException">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="luzRequest">
    <wsdl:part name="parameters" element="ns:luz" />
  </wsdl:message>
  <wsdl:message name="luzResponse">
    <wsdl:part name="parameters" element="ns:luzResponse" />
  </wsdl:message>
  <wsdl:message name="SensorIOException">
    <wsdl:part name="parameters" element="ns:SensorIOException" />
  </wsdl:message>
  <wsdl:message name="SensorUnsupportedEncodingException">
    <wsdl:part name="parameters" element="ns:SensorUnsupportedEncodingException" />
  </wsdl:message>
  <wsdl:message name="fechaRequest">
    <wsdl:part name="parameters" element="ns:fecha" />
  </wsdl:message>
  <wsdl:message name="fechaResponse">
    <wsdl:part name="parameters" element="ns:fechaResponse" />
  </wsdl:message>
  <wsdl:message name="iniciarRequest">
    <wsdl:part name="parameters" element="ns:iniciar" />
  </wsdl:message>
  <wsdl:message name="iniciarResponse">
    <wsdl:part name="parameters" element="ns:iniciarResponse" />
  </wsdl:message>
  <wsdl:message name="setvolumenRequest">
    <wsdl:part name="parameters" element="ns:setvolumen" />
  </wsdl:message>
  <wsdl:message name="setvolumenResponse">
    <wsdl:part name="parameters" element="ns:setvolumenResponse" />
  </wsdl:message>
  <wsdl:message name="volumenRequest">
    <wsdl:part name="parameters" element="ns:volumen" />
  </wsdl:message>
  <wsdl:message name="volumenResponse">
    <wsdl:part name="parameters" element="ns:volumenResponse" />
  </wsdl:message>
  <wsdl:message name="ultimaFechaRequest">
    <wsdl:part name="parameters" element="ns:ultimaFecha" />
  </wsdl:message>
  <wsdl:message name="ultimaFechaResponse">
    <wsdl:part name="parameters" element="ns:ultimaFechaResponse" />
  </wsdl:message>
  <wsdl:message name="setledRequest">
    <wsdl:part name="parameters" element="ns:setled" />
  </wsdl:message>
  <wsdl:message name="setledResponse">
    <wsdl:part name="parameters" element="ns:setledResponse" />
  </wsdl:message>
  <wsdl:message name="setlediRequest">
    <wsdl:part name="parameters" element="ns:setledi" />
  </wsdl:message>
  <wsdl:message name="setlediResponse">
    <wsdl:part name="parameters" element="ns:setlediResponse" />
  </wsdl:message>
  <wsdl:portType name="SensorPortType">
    <wsdl:operation name="luz">
      <wsdl:input wsaw:Action="urn:luz" message="ns:luzRequest" />
      <wsdl:output wsaw:Action="urn:luzResponse" message="ns:luzResponse" />
      <wsdl:fault wsaw:Action="urn:luzSensorIOException" name="SensorIOException" message="ns:SensorIOException" />
      <wsdl:fault wsaw:Action="urn:luzSensorUnsupportedEncodingException" name="SensorUnsupportedEncodingException" message="ns:SensorUnsupportedEncodingException" />
    </wsdl:operation>
    <wsdl:operation name="fecha">
      <wsdl:input wsaw:Action="urn:fecha" message="ns:fechaRequest" />
      <wsdl:output wsaw:Action="urn:fechaResponse" message="ns:fechaResponse" />
    </wsdl:operation>
    <wsdl:operation name="iniciar">
      <wsdl:input wsaw:Action="urn:iniciar" message="ns:iniciarRequest" />
      <wsdl:output wsaw:Action="urn:iniciarResponse" message="ns:iniciarResponse" />
      <wsdl:fault wsaw:Action="urn:iniciarSensorIOException" name="SensorIOException" message="ns:SensorIOException" />
      <wsdl:fault wsaw:Action="urn:iniciarSensorUnsupportedEncodingException" name="SensorUnsupportedEncodingException" message="ns:SensorUnsupportedEncodingException" />
    </wsdl:operation>
    <wsdl:operation name="setvolumen">
      <wsdl:input wsaw:Action="urn:setvolumen" message="ns:setvolumenRequest" />
      <wsdl:output wsaw:Action="urn:setvolumenResponse" message="ns:setvolumenResponse" />
      <wsdl:fault wsaw:Action="urn:setvolumenSensorUnsupportedEncodingException" name="SensorUnsupportedEncodingException" message="ns:SensorUnsupportedEncodingException" />
      <wsdl:fault wsaw:Action="urn:setvolumenSensorIOException" name="SensorIOException" message="ns:SensorIOException" />
    </wsdl:operation>
    <wsdl:operation name="volumen">
      <wsdl:input wsaw:Action="urn:volumen" message="ns:volumenRequest" />
      <wsdl:output wsaw:Action="urn:volumenResponse" message="ns:volumenResponse" />
      <wsdl:fault wsaw:Action="urn:volumenSensorIOException" name="SensorIOException" message="ns:SensorIOException" />
      <wsdl:fault wsaw:Action="urn:volumenSensorUnsupportedEncodingException" name="SensorUnsupportedEncodingException" message="ns:SensorUnsupportedEncodingException" />
    </wsdl:operation>
    <wsdl:operation name="ultimaFecha">
      <wsdl:input wsaw:Action="urn:ultimaFecha" message="ns:ultimaFechaRequest" />
      <wsdl:output wsaw:Action="urn:ultimaFechaResponse" message="ns:ultimaFechaResponse" />
      <wsdl:fault wsaw:Action="urn:ultimaFechaSensorIOException" name="SensorIOException" message="ns:SensorIOException" />
      <wsdl:fault wsaw:Action="urn:ultimaFechaSensorUnsupportedEncodingException" name="SensorUnsupportedEncodingException" message="ns:SensorUnsupportedEncodingException" />
    </wsdl:operation>
    <wsdl:operation name="setled">
      <wsdl:input wsaw:Action="urn:setled" message="ns:setledRequest" />
      <wsdl:output wsaw:Action="urn:setledResponse" message="ns:setledResponse" />
      <wsdl:fault wsaw:Action="urn:setledSensorUnsupportedEncodingException" name="SensorUnsupportedEncodingException" message="ns:SensorUnsupportedEncodingException" />
      <wsdl:fault wsaw:Action="urn:setledSensorIOException" name="SensorIOException" message="ns:SensorIOException" />
    </wsdl:operation>
    <wsdl:operation name="setledi">
      <wsdl:input wsaw:Action="urn:setledi" message="ns:setlediRequest" />
      <wsdl:output wsaw:Action="urn:setlediResponse" message="ns:setlediResponse" />
      <wsdl:fault wsaw:Action="urn:setlediSensorUnsupportedEncodingException" name="SensorUnsupportedEncodingException" message="ns:SensorUnsupportedEncodingException" />
      <wsdl:fault wsaw:Action="urn:setlediSensorIOException" name="SensorIOException" message="ns:SensorIOException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SensorSoap11Binding" type="ns:SensorPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="luz">
      <soap:operation soapAction="urn:luz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fecha">
      <soap:operation soapAction="urn:fecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iniciar">
      <soap:operation soapAction="urn:iniciar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setvolumen">
      <soap:operation soapAction="urn:setvolumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="volumen">
      <soap:operation soapAction="urn:volumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ultimaFecha">
      <soap:operation soapAction="urn:ultimaFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setled">
      <soap:operation soapAction="urn:setled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setledi">
      <soap:operation soapAction="urn:setledi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorSoap12Binding" type="ns:SensorPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="luz">
      <soap12:operation soapAction="urn:luz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap12:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap12:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fecha">
      <soap12:operation soapAction="urn:fecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iniciar">
      <soap12:operation soapAction="urn:iniciar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap12:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap12:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setvolumen">
      <soap12:operation soapAction="urn:setvolumen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap12:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap12:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="volumen">
      <soap12:operation soapAction="urn:volumen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap12:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap12:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ultimaFecha">
      <soap12:operation soapAction="urn:ultimaFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap12:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap12:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setled">
      <soap12:operation soapAction="urn:setled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap12:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap12:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setledi">
      <soap12:operation soapAction="urn:setledi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SensorUnsupportedEncodingException">
        <soap12:fault use="literal" name="SensorUnsupportedEncodingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SensorIOException">
        <soap12:fault use="literal" name="SensorIOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorHttpBinding" type="ns:SensorPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="luz">
      <http:operation location="luz" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fecha">
      <http:operation location="fecha" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iniciar">
      <http:operation location="iniciar" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setvolumen">
      <http:operation location="setvolumen" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="volumen">
      <http:operation location="volumen" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ultimaFecha">
      <http:operation location="ultimaFecha" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setled">
      <http:operation location="setled" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setledi">
      <http:operation location="setledi" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sensor">
    <wsdl:port name="SensorHttpSoap11Endpoint" binding="ns:SensorSoap11Binding">
      <soap:address location="http://localhost:8080/Sensor/services/Sensor.SensorHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SensorHttpSoap12Endpoint" binding="ns:SensorSoap12Binding">
      <soap12:address location="http://localhost:8080/Sensor/services/Sensor.SensorHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SensorHttpEndpoint" binding="ns:SensorHttpBinding">
      <http:address location="http://localhost:8080/Sensor/services/Sensor.SensorHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>